xmltodict
numericalunits
DataModelDict
numpy
scipy
pandas
matplotlib
Cython
atomman
requests
nose
toolz

## Install jq first on your system.
## Linux: sudo apt-get install jq
## OSX: brew install jq
## Windows: chocolatey install jq
## Other systems: https://stedolan.github.io/jq/download/
